<% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
      <div class="restaurant-item col-md-4">
        <%= image_tag restaurant.image %>
        <h3><%= restaurant.name %></h3>
        <p class="category"><%= restaurant.category.name %></p>
        <p><%= truncate(restaurant.description, length: 80) %></p>
      </div>
    <% end %>
  <% end %>

  <%= paginate @restaurants %>