<div class="container clearfix">
  <div class="left">
  <h1 class="title">餐廳管理</h1>
  <div class="btn btn-default circle">
    <a href="/admin/restaurants/new">
      <span class="glyphicon glyphicon-plus center" aria-hidden="true"></span>
    </a>
  </div><br>
  <%= link_to '⏎ 餐廳分類管理', admin_categories_path, class: "under-title" %>
</div>
  
  <table class="content table">
    <thead>
      <tr>
        <th>餐廳名稱</th>
        <th>分類</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.category.name %></td>
          <td>
            <%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-default btn-right" %>
            <%= link_to 'Edit', edit_admin_restaurant_path(restaurant), class: "btn btn-default btn-right" %>
            <%= link_to 'Show', admin_restaurant_path(restaurant), class: "btn btn-default btn-right" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @restaurants %><br>
</div>