<div class="container clearfix">
  <div class="left">
    <h1 class="title">餐廳分類管理</h1><br>
    <%= link_to '⏎ 餐廳管理', admin_restaurants_path, class: "under-title" %>
    <div class="form-inline">
      <%= form_for [:admin, @category] do |f| %>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "Category name", class: "form-control" %>
        </div>
        <%= f.submit class: "btn btn-default" %>
      <% end %>
      <% if @category.errors.present? %>
        <ul><li><%= @category.errors.full_messages.to_sentence%></li></ul>
      <% end %>
    </div>
  </div>
       
  <table class="content table">
    <thead>
      <tr>
        <th>餐廳分類</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td>
            <%= link_to 'Delete', admin_category_path(category), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-default btn-right" %>
            <%= link_to 'Edit', admin_categories_path(id: category.id), class: "btn btn-default btn-right" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>